div.tooltip {	
  /* position: absolute;			 */
  text-align: center;			
  /* width: 60px;					
  height: 28px;					 */
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

svg {
  padding: 25px 25px;
  border: 1px solid gray;
  margin: 15px
}

.canvas {
  border: 1px solid black
}