body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.summary_and_options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 300px;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}
.doughnut-1 {
  background: yellow
}

.account_information {
  flex-basis: 2 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chart_area {
  display: flex;
  flex-direction: row;
  flex-basis: 250px;
  justify-content: space-between
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
